/FizzBuzzLibrary/bin/Debug/FizzBuzzLibrary.dll
/FizzBuzzLibrary/bin/Debug/FizzBuzzLibrary.pdb
/FizzBuzzLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FizzBuzzLibrary/obj/Debug/FizzBuzzLibrary.csproj.FileListAbsolute.txt
/FizzBuzzLibrary/obj/Debug/FizzBuzzLibrary.dll
/FizzBuzzLibrary/obj/Debug/FizzBuzzLibrary.pdb
/FizzBuzzLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FizzBuzzLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FizzBuzzLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/*.suo
/FizzBuzzTest/bin/Debug/FizzBuzzLibrary.dll
/FizzBuzzTest/bin/Debug/FizzBuzzLibrary.pdb
/FizzBuzzTest/bin/Debug/FizzBuzzTest.dll
/FizzBuzzTest/bin/Debug/FizzBuzzTest.pdb
/FizzBuzzTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FizzBuzzTest/obj/Debug/FizzBuzzTest.csproj.FileListAbsolute.txt
/FizzBuzzTest/obj/Debug/FizzBuzzTest.csprojResolveAssemblyReference.cache
/FizzBuzzTest/obj/Debug/FizzBuzzTest.dll
/FizzBuzzTest/obj/Debug/FizzBuzzTest.pdb
/FizzBuzzTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FizzBuzzTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FizzBuzzTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FizzBuzzWithOutput/bin/Debug/FizzBuzzLibrary.dll
/FizzBuzzWithOutput/bin/Debug/FizzBuzzLibrary.pdb
/FizzBuzzWithOutput/bin/Debug/FizzBuzzWithOutput.exe
/FizzBuzzWithOutput/bin/Debug/FizzBuzzWithOutput.exe.config
/FizzBuzzWithOutput/bin/Debug/FizzBuzzWithOutput.pdb
/FizzBuzzWithOutput/bin/Debug/FizzBuzzWithOutput.vshost.exe
/FizzBuzzWithOutput/bin/Debug/FizzBuzzWithOutput.vshost.exe.config
/FizzBuzzWithOutput/bin/Debug/FizzBuzzWithOutput.vshost.exe.manifest
/FizzBuzzWithOutput/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FizzBuzzWithOutput/obj/Debug/FizzBuzzWithOutput.csproj.FileListAbsolute.txt
/FizzBuzzWithOutput/obj/Debug/FizzBuzzWithOutput.csprojResolveAssemblyReference.cache
/FizzBuzzWithOutput/obj/Debug/FizzBuzzWithOutput.exe
/FizzBuzzWithOutput/obj/Debug/FizzBuzzWithOutput.pdb
/FizzBuzzWithOutput/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FizzBuzzWithOutput/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FizzBuzzWithOutput/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
